In [16]:
import numpy as np 
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
df = pd.read_csv(r"https://raw.githubusercontent.com/Sreemanto/DSP-55/main/spam.csv",encoding="latin-1")

In [6]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [7]:
df = df[["v1","v2"]]

In [8]:
df = df.rename(columns = {"v1":"label","v2":"text"})
df

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
#converting messages to lower case
def review_messages(msg):
    msg = msg.lower()
    return msg

In [10]:
# processing text messages
df["text"] = df["text"].apply(review_messages)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test = train_test_split(df["text"],df["label"],test_size=0.1,random_state=1)

In [17]:
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)

In [18]:
clf = MultinomialNB(alpha = 0.1)
# Train the Classifier
clf.fit(X_train,y_train)

MultinomialNB(alpha=0.1)

In [19]:
X_test_vec = vectorizer.transform(X_test)
y_pred = clf.predict(X_test_vec)

In [20]:
X_test.reset_index(drop = True,inplace=True)

In [21]:
print(X_test[0])
clf.predict(X_test_vec[0])

convey my regards to him

array(['ham'], dtype='<U4')

In [22]:
print(X_test[44])
clf.predict(X_test_vec[0])

3 free tarot texts! find out about your love life now! try 3 for free! text chance to 85555 16 only! after 3 free, msgs å£1.50 each

array(['ham'], dtype='<U4')